body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
} 
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
/* checkout container */
.checkout-con{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 200;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkout-con .checkout-con-div{
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 500px;
    overflow: hidden;
    overflow-y: auto;
    position: fixed;
}
.checkout-con .checkout-con-div::-webkit-scrollbar{
    display: none;
}
.checkout-con .checkout-con-div .cancel-checkout{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 10px 5px;
}
.checkout-con .checkout-con-div .cancel-checkout i{
    cursor: pointer;
    color: black;
}
.checkout-detail{
    width: 800px;
    height: fit-content;
    display: flex;
}
/*  checkout container personal section */
.checkout-personal{
    width: 60%;
    display: flex;
    flex-direction: column;
}
.checkout-personal h4{
    width: fit-content;
    padding: 4px 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
}
.checkout-personal fieldset{
    display: flex;
    align-items: center;
    border: none;
}
.checkout-personal fieldset input{
    margin-left: 10px;
}
.checkout-personal fieldset label{
    margin: 0 5px;
}
.checkout-personal-detail{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}
.checkout-personal-detail .personal-detail{
    width: 100%;
    display: none;
    flex-wrap: wrap;
}
.checkout-personal-detail .personal-detail div{
    display: flex;
    flex-direction: column;
    padding: 5px 10px 0 10px;
}
.checkout-personal-detail .personal-detail div input{
    padding: 5px;
    border-radius: 10px;
    margin: 3px 0;
    border: 2px solid black;
    outline: none;
}
.checkout-personal-detail .personal-payment{
    display: none;
    flex-wrap: wrap;
}
.checkout-personal-detail .personal-payment div{
    display: flex;
    flex-direction: column;
    max-width: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding:10px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}
.checkout-personal-detail .personal-payment div p{
    text-align: center;
}
/*  checkout container menu section */
.checkout-menu{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.checkout-menu h4{
    font-size: 20px;
}
.checkout-menu .checkout-menu-div{
    display: flex;
    width: 100%;
    margin: 10px 0;
    align-items: center;
}
.checkout-menu .checkout-menu-div img{
    width: 25%;
    height: 70px;
    border-radius: 10px;
}
.checkout-menu .checkout-menu-div .checkout-menu-detail{
    width: 75%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.checkout-menu .checkout-menu-div .checkout-menu-detail p{
    margin: 5px;
}
.checkout-menu .checkout-menu-div .menu-detail-div{
    display: flex;
}
.checkout-menu .checkout-menu-div .menu-detail-div p{
    width: 50%;
}
.checkout-menu-total{
    display: flex;
    flex-direction: column;
    padding: 5px 0 20px 5px;
}
.checkout-menu-total p{
    margin-top: 5px;
}
.checkout-con .checkout-menu button{
    width: 60%;
    padding: 10px 0;
    border-radius: 10px;
    background-color: white;
    outline: none;
    border: none;
    margin: 0 auto;
    box-shadow: 0px 0px 6px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}
/* cart section */
.cart-con{
    display: flex;
    justify-content: flex-end;
}
.cart-con div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 20px;
}
.cart-con div i{
    color: white;
}
.menu-con{
    width: 100%;
    height: auto;
    display: flex;
    min-height: 450px;
    color: white;
    padding: 50px 100px;
}
.menu-categories-con{
    width: 150px;
    height: auto;
}
.menu-categories-con h3{
    width: 100%;
    text-align: center;
}
.menu-categories-con ul{
    margin-top: 20px;
    list-style: none;
}
.menu-categories-con ul li{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-categories-con ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.menu-display-con{
    width: 100%;
    height: auto;
    padding: 0 20px;
}
.menu-display-con h3{
    width: 100%;
    padding: 0px 25px 5px 25px;
}
.display-con-div{
    display: flex;
    flex-wrap: wrap;
}
.menu-display-div{
    width: 200px;
    height: min-content;
    border-radius: 20px;
    background-color: white;
    color: black;
    margin: 10px 20px;
    position: relative;
}
.menu-display-div img{
    width: 100%;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.menu-display-div h4, .menu-display-div p{
    width: 100%;
    height: 30px;
    margin: 15px 0;
    padding: 5px;
}
.btn-con{
    width: 100%;
    height: fit-content;
    text-align: center;
}
.menu-display-div button{
    width: 80%;
    margin: 10px 20px;
    padding: 5px;
    background-color: cornsilk;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
}
#add-cart:active{
    animation: txt1 2s ease-in-out forwards;
}
@keyframes txt1 {
    0% {
        width: 60%;
    }
    50%,
    100% {
        width: 80%;
    }
}
.discount-logo{
    top: 5px;
    left: 10px;
    display: flex;
    position: absolute;
    background-color: red;
    opacity: 0.7;
    padding: 5px 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    font-size: 13px;
}
.discount-logo i{
    margin: 0 2px;
}
.discount-div{
    position: absolute;
    top: 227px;
    width: 80px;
    height: 30px;
    border-top: 2px solid black;
}
.discount-p{
    position: absolute;
    top: 221px;
    width: 30%;
    height: 30px;
}
.not-available{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    color: white;
    position: absolute;
    background-color: black;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.menu-footer{
    color: white;
}
.menu-footer div a{
    color: white;
}
.categories-back-div i, .categories-back-div p{
    color: white;
}

@media screen and (max-width: 900px){
    .menu-con{
        padding: 50px 80px;
    }
    .menu-display-con{
        padding: 0 18px;
    }
    .menu-display-div{
        width: 190px;
        margin: 10px 18px;
    }
    .menu-display-div h5{
        margin: 12px;
    }
    .menu-display-div p{
        margin: 13px;
    }
    .categories-back-div{
        padding: 20px 0 20px 20px;
    }
    .menu-display-div button{
        margin: 10px 18px;
        padding: 5px;
    }

    /* checkout section */
    .checkout-detail{
        width: 500px;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .checkout-detail .personal-detail div{
        width: 100%;
    }
    .checkout-detail .checkout-menu{
        width: 100%;
        margin-top: 20px;
    }
    .checkout-detail .checkout-menu h4{
        font-size: 18px;
    }
}
@media screen and (max-width: 800px){
    .menu-con{
        padding: 50px 30px;
    }
    .menu-display-con{
        padding: 0 16px;
    }
    .menu-display-div{
        width: 180px;
        margin: 10px 16px;
    }
    .menu-display-div button{
        margin: 10px 16px;
        padding: 5px;
    }
}
@media screen and (max-width: 700px){
    .menu-con{
        padding: 50px 20px;
    }
    .menu-categories-con{
        width: 140px;
    }
    .menu-categories-con h3{
        font-size: 17px;
    }
    .menu-categories-con ul li{
        font-size: 16px;
    }
    .menu-display-con{
        padding: 0 13px;
    }
    .menu-display-div{
        width: 150px;
        margin: 10px 13px;
        font-size: 15px;
    }
    .menu-display-div h4, .menu-display-div p{
        margin: 13px 5px;
    }
    .menu-display-div button{
        margin: 8px 14px;
        padding: 4px;
    }

    /* checkout section */
    .checkout-detail{
        width: 350px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .checkout-detail .checkout-personal,
    .checkout-detail .checkout-personal-detail,
    .checkout-detail .personal-detail{
        width: 100%;
        align-items: center;
    }
    .checkout-personal-detail .personal-payment{
        width: 100%;
        justify-content: center;
    }
    .checkout-detail .checkout-menu h4{
        font-size: 16px;
    }
}
@media screen and (max-width: 600px){
    .menu-con{
        padding: 50px 15px;
    }
    .menu-categories-con{
        width: 130px;
    }
    .menu-categories-con h3, .menu-display-con h3{
        font-size: 16px;
    }
    .menu-categories-con ul li{
        font-size: 15px;
    }
    .menu-display-con{
        padding: 0 10px;
        margin: 10px;
    }
    .menu-display-div{
        width: 140px;
        margin: 10px 11px;
        font-size: 14px;
    }
    .menu-display-div button{
        margin: 8px 12px;
        padding: 4px;
    }
    .discount-logo{
        font-size: 12px;
    }

    /* checkout section */
    .checkout-detail{
        width: 300px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 550px){
    .menu-con{
        padding: 50px 10px;
    }
    .menu-categories-con{
        width: 120px;
    }
    .menu-categories-con h3, .menu-display-con h3{
        font-size: 15px;
    }
    .menu-categories-con ul li{
        font-size: 14px;
    }
    .menu-display-con{
        padding: 0 8px;
        margin: 8px;
    }
    .menu-display-div{
        width: 130px;
        margin: 10px 8px;
        font-size: 13px;
    }
    .menu-display-div button{
        margin: 8px 10px;
        padding: 4px;
    }
    .discount-logo{
        font-size: 11px;
    }
    @keyframes txt1 {
        0% {
            width: 70%;
        }
        50%,
        100% {
            width: 80%;
        }
    }

    /* checkout section */
    .checkout-detail{
        width: 280px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 500px){
    .menu-con{
        padding: 50px 10px;
    }
    .menu-categories-con{
        width: min-content;
    }
    .menu-categories-con h3, .menu-display-con h3{
        font-size: 14px;
    }
    .menu-categories-con ul li{
        font-size: 13px;
    }
    .menu-display-con{
        padding: 0 6px;
        margin: 8px;
    }
    .menu-display-div{
        width: 120px;
        margin: 5px 3px;
        font-size: 12px;
    }
    .menu-display-div h4, .menu-display-div p{
        margin: 15px 3px;
    }
    .menu-display-div button{
        margin: 8px;
        padding: 4px;
    }
    .discount-logo{
        font-size: 10px;
    }
    .discount-div{
        top: 222px;
        width: 60px;
    }

    /* checkout section */
    .checkout-detail{
        width: 260px;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}